/* ** Reset ** */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong,
sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol,
ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
}

body
{
  font: 14px 'Open Sans', sans-serif;
  color: #dee8f7;
  background-color: #2a333c;
  min-height: 500px;
  padding-bottom: 10px;
  height: 100vh;
  overflow: hidden;
}

header
{
  height: 7vh;
  background-color: #4e647a;
}

header #user-msg
{
  margin: 2vh;
  font-size: 3vmin;
  display: inline-block;
}
header #user-img
{
  margin-left: 10px;
  height: 100%;
  float: left;
  border-radius: 50%;
}

header #logout-button
{
  margin: 1.5vh;
  font-size: 2vmin;
  float: right;
}

#sidebar
{
  display: inline-block;
  float: left;
  width: 30%;
  border-right: 1px solid #4e647e;
}

#search-box
{
  margin: 2%;
  background-color: #4e647a;
  border-radius: 10px;
  padding: 2.5%;
  height: 7vh;
}

input[type=text] {
    width: 83%;
    border: 1px solid #2a333c;
    border-radius: 5px;
    font-size: 3vmin;
    color: #dee8f7;
    background-color: inherit;
    background-image: url('searchicon.png');
    background-position: 2% 45%;
    background-repeat: no-repeat;
    padding: 3% 7% 3% 10%;
}
input::placeholder
{
  color: #dee8f7;
}

#playlist-box
{
  margin: 2%;
  background-color: #4e647a;
  border-radius: 10px;
  padding: 2.5%;
  overflow-y: scroll;
  height: 60vh;

  scrollbar-face-color: rgba(255, 255, 255, 0.1);
  scrollbar-track-color: #4e647a;
}

#playlist-box::-webkit-scrollbar {
  border-radius: 100px;
}

#playlist-box::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.1);
}

#playlist-box::-webkit-scrollbar-track {
  border-radius: 100px;
  background: #4e647a;
}

#playlist-box table
{
  width: 100%;
}

#playlist-box tr
{
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 5px;
}

#playlist-box th
{
  width: 100%;
}

#playlist-box td
{
  width: 1%;
}

ul
{
  list-style: none;
  display: inline-block;
}

#preset-box
{
  margin: 2%;
  background-color: #4e647a;
  border-radius: 10px;
  padding: 2%;
  height: 16vh;
}

.preset-btn
{
  float: left;
  width: 47%;
  background-color: #74bcf4;
  border-radius: 5px;
  font-size: 1.5vmin;
  text-align: center;
  text-transform: uppercase;
  margin: 2.5% 1.5% 2.5% 1.5%;
  padding: 1.6vh 0 1.6vh 0;
  cursor: pointer;
}

#content
{
  display: inline-block;
  margin: 0.5%;
  padding: 0.7%;
  background-color: #4e647a;
  border-radius: 10px;
  height: 91vh;
  width: 67.5%;
}

#content img
{
  width: 4.48vh;
  height: 4.48vh;
}

table
{
  font-size: 1.2em;
  border-collapse: collapse;
  border-spacing: 0;
}

td
{
  text-align: center;
}

table img
{
  display: block;
}

.tbl-add
{
  width: 10%;
}

.tbl-name
{
  width: 40%;
}

.tbl-artist
{
  width: 20%;
}

.tbl-popularity
{
  width: 20%;
}

.black-row
{
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
  .black-row:hover
  {
    background-color: rgba(255, 255, 255, 0.25);
  }

.white-row
{
  cursor: pointer;
}
  .white-row:hover{
    background-color: rgba(255, 255, 255, 0.25);
  }

.button, button, input[type='submit'], input[type='reset'], input[type='button']
{
  font-size: 1.1em;
  color: #dee8f7;
  margin: 0.5em;
  padding: 0.5em;
  border: none;
  border-radius: 100px;
  background-color: #74bcf4;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

/****LOGIN-PAGE CSS****/

#login-page{
  margin:auto;
}

#logo{
  margin-top: 5vh;
  margin-bottom: 35px;
  width: 402.4px;
  height: 360.4px;
}

footer
{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #4e647a;
  text-align: center;
}

#getInTouch{
  float: left;
  margin-top: 20px;
  width: 33%;
}

#aboutUs{
  float: left;
  margin-top: 20px;
  width: 33%;
}

#socialMedia{
  float: left;
  margin-top: 20px;
  width: 33%;
}

@media only screen and (max-width: 900px) {

   #logo{
        width:50%;
        height:50%;
   }
   #Footer {
        width: 100%;
    }

    #Footer.push {
        bottom: 0;
    }

    #aboutUs, #getInTouch, #socialMedia {
        font-size: 80%;
        width: 20%;
        height: 20%;
        margin-left: 5%;
    }
  
    #sidebar{
      display: none;
    }
}

@media all and (max-height: 700px) {
  
  #logo{
        width: 10%;
        height:10%; 
   }
  
   #Footer {
        width: 100%;
    }

    #Footer.push {
        bottom: 0;
        height: 10%;
    }

    #aboutUs, #getInTouch, #socialMedia {
        font-size: 80%;
        width: 20%;
        height: 20%;
        margin-left: 5%;
    }
}
